body {
    margin: 0px;
    font-family: sans-serif;
    background-color: white;
}
.dark-mode {
    background-color: rgb(18, 21, 33);
    color: white;
        
  }

/* #licht{
    text-align: left;
} */
#dashboard{
    grid-template-columns: 100%;
    grid-template-rows: 1fr; 
    grid-template-areas: "item1"
                         "item2"
                         "item3"
                         "item4"
                         "item5"
                         "item6"
                         "item7";
}

.item1{
    grid-area: item1;
    display: none;
    background-color: rgb(92, 219, 149);
}
.item2{
    grid-area: item2;
    background-color: rgb(226, 225, 225);
}
.item3{
    grid-area: item3;
    display: none;
    background-color: rgb(226, 225, 225);
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item {
    font-size: 50px;
    
}
#dashboard > div{
    /* display: flex;
    justify-content: center;
    place-items: center; */
}
.apparaat {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 30px center;
}
@media screen and (min-width: 600px) {
    #dashboard{
        display: grid;
        height: 100vh;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr;
        grid-template-areas: "item1 item2 item2"
                             "item3 item4 item5"
                             "item3 item6 item7";

    }
    .item1{
        display: block;
        display: flex;
        justify-content: center;
        place-items: center;
    }
    .item2{
        display: flex;
        justify-content: center;
        place-items: center;
    }
    .item3{
        display: block;
    }
    .item4{
        margin: 30px;
        background-color: rgb(241, 241, 241);
    }
    .item5{
        margin: 30px;
        background-color: rgb(241, 241, 241);
    }
    .item6{
        
        margin: 30px;
        background-color: rgb(241, 241, 241);
    }
    .item7{
        margin: 30px;
        background-color: rgb(241, 241, 241);
    }
    html {
        height: 100%;
        background: radial-gradient(at top,#f2f2f2,#9A9A9A 90%) no-repeat;
      }

      .item62{
          margin-left: 35%
      }
      .switch {
        opacity: 0;
      }
      
      .switch > div {
        width: 80px;
        height: 40px;
        background: #9A9A9A;
        z-index: 0;
        cursor: pointer;
        position: relative;
        border-radius: 50px;
        line-height: 40px;
        text-align: right;
        padding: 0 10px;
        color: rgba(0,0,0,.5);
        transition: all 250ms;
        box-shadow: inset 0 3px 15px -3px
      }
      
      .switch > input:checked + div {
        background: rgb(226, 203, 0);
        text-align: left;
        color: rgba(255,255,255,.75);
      }
      
      .switch > div:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: -2px;
        height: 44px;
        width: 44px;
        background: linear-gradient(#f9f9f9 30%,#CDCDCD);
        border-radius: 50%;
        transition: all 200ms;
        box-shadow: 0 15px 15px -3px rgba(0,0,0,.25), inset 0 -2px 2px -3px,  0 3px 0 0px #f9f9f9;
      }
      
      .switch > div:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 11px;
        top: 11px;
        height: 22px;
        width: 22px;
        background: linear-gradient(#DCDCDC,#E3E3E3);
        border-radius: 50%;
        transition: all 200ms;
      }
      
      .switch > input:checked + div:after {
        left: 52px;
      }
      
      .switch > input:checked + div:before {
        content: '';
        position: absolute;
        left: 40px;
        border-radius: 50%;
      }
}
