body {
    margin: 0px;
    font-family: sans-serif;
    background-color: white;
}
.dark-mode {
    background-color: black;
    color: white;
        
  }

  
#dashboard{
    display: grid;
    height: 100vh;
    grid-column-gap: 20px; 
    grid-row-gap: 20px;
    grid-template-rows: 100px 200px 100px;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    color: #0044b4;
    font-weight: bold;
    font-size: 15px;
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
}
.item3{
    grid-row-start: 2;
    grid-row-end: 4;
    text-indent: 1rem;
}
.item4{
    grid-row-start: 2;
    grid-row-end: 4;
}
.item5{
    background-color:  #0044b4;
    grid-column-start: 1;
    grid-column-end: 4;
    font-weight: bold;
    font-size: 15px;
}
.item6{
    grid-row-start: 5;
    grid-row-end: 6;
}
.item7{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}
.item {
    border: 6px solid rgb(107, 107, 107);
    font-size: 50px;
    
}
#dashboard > div{
    display: flex;
    justify-content: center;
    place-items: center;
}